#hero {
	background: var(--primary-bg-dark);
  background-image: var(--bg-img-texture);
  box-shadow: 0 1px rgba(255, 255, 255, .1);
}

.hero_header {
  display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem 0;
  line-height: 1.5rem;
}

.greeting {
  font-size: 1.2rem;
}

.hero_name {
  font-size: 3rem;
}

.hero_tittle {
  font-size: 1.5rem;
}

.social_icons {
  margin: 4rem 0 2rem;
  display: flex;
	font-size: 2rem;
}
.social_icon {
  padding: 1rem 1.2rem;
}
.social_icon:hover{
  box-shadow: inset 0 0 0 1px var(--simple-box-shadow);
}
.hero_img {
	width: 20rem;
	margin: 2rem auto ;
}


.hero_img > img {
	border-radius: 3em 0;
	width: 100%;
}

@media only screen and (min-width: 768px){
  #hero{
    height: 100vh;
  }
}