#hero {
	background: var(--primary-bg-dark);
	background-image: var(--bg-img-texture);
	box-shadow: 0 1px rgba(255, 255, 255, 0.1);
	min-height: 100vh;
}

.hero_header {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem 0;
	line-height: 1.5rem;
}

.greeting {
	font-size: 1rem;
}

.hero_name {
	font-size: 2.3rem;
}

.hero_tittle {
	font-size: 1.2rem;
}

.social_icons {
	margin: 4rem 0 2rem;
	display: flex;
	gap: 0.5rem;
}
.social_icon {
	font-size: 1.5rem;
	padding: .9rem;
	color: var(--primary-color-brown);
}
.social_icon:hover {
	box-shadow: inset 0 0 0 1px var(--primary-color-red);
	border-radius: 7px;
	transition: 0.3s;
}
.social_icon .icon:hover {
	transition: 0.3s;
	transform: scale(1.2);
}

.hero_img {
	width: 15rem;
	margin: 2rem auto;
}

.hero_img > img {
	border-radius: 3em 0;
	width: 100%;
}
@media screen and (min-width: 768px) {
	#hero{
		/* height: 100vh; */
	}
	.hero_img{
		width: 20rem;
	}
	.social_icon{
		font-size: 2rem;
	}
	.greeting {
		font-size: 1.2rem;
	}
	.hero_name {
		font-size: 3rem;
	}
	.hero_tittle {
		font-size: 1.5rem;
	}
}
